body {
  --s: 124px;
  --c1: #ededed;
  --c2: #f7f7f7;
  --c3: #ffffff;

  background: repeating-conic-gradient(
        from 30deg,
        #806a6a00 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.3 * var(--s)) calc(0.7 * var(--s) * 0.677),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 99deg,
      var(--c2) 0 150deg,
      var(--c3) 0 110deg
    );
  background-size: var(--s) calc(var(--s) * 0.777);
}




